* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    display: flex;
    background-color: grey;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.display {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display h1 {
    text-align: center;
}
.buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.button.zero {
    width: 50%;
}
.button {
    width: 25%;
    height: 80px;
    border: none;
    font-size: 20px;
}

.button:hover {
    background-color: #a7a7a7;
}

.equals {
    width: 100%;
}